body {
  text-align: center;
  font-family: "Happy Monkey", cursive;
  background: linear-gradient(#a2d2ff, #efb0c9);
  color: #ffffff;
}

h1,
h2,
h3,
h4,
p {
  text-shadow: 0 0 1px black;
}

#bff-img {
  width: 150px;
  border-radius: 50%;
  border: 6px solid #efb0c9;
  margin-bottom: 10px;
}

#bday-age {
  background: #efb0c9;
  padding: 5px 10px;
  border-radius: 5px;
  margin: 5px 0 10px 0;
}

#bday-date {
  margin: 0;
  background: #efb0c9;
  padding: 5px 10px;
  border-radius: 5px;
}

#header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.gift-section {
  margin-top: 50px;
}

.gift-title {
  margin-bottom: 10px;
}

.gift-hint {
  margin-top: 0;
}

.gift-img {
  margin: 20px auto;
  max-width: 400px;
  height: 400px;
  border: 6px solid white;
  border-radius: 10px;
  background-image: url("images/gift-box.png");
  background-size: cover;
}

#gift-img-happy {
  height: 500px;
  background-position: center;
}

#gift-img-happy:active {
  background-image: url("https://media.giphy.com/media/v1.Y2lkPWVjZjA1ZTQ3cDN2N294ajNnNngwMXg0ZXJzNXlpcmRvejdqcjIyNW92b3RyeGg3dyZlcD12MV9naWZzX3RyZW5kaW5nJmN0PWc/DPiuat0EsqP3a/giphy.gif");
}

#gift-img-hot:active {
  background-image: url("https://media4.giphy.com/media/v1.Y2lkPTc5MGI3NjExNjMwaHN3N2g0aXdwZWs3NzkyYjdnNzFrY2M3aDNub2hkN2l2ejMxYyZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/7Wcyq7KvKFNTO/giphy.gif");
}

#gift-img-genius:active {
  background-image: url("https://media1.giphy.com/media/v1.Y2lkPTc5MGI3NjExZjhxMHppMWpmaWFwYjc0Mng3NGI5MTd0OWJ6MmhtY3FxOHU0Z3h1dyZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/LdzhWzAObvhtWAMSfj/giphy.gif");
}

#gift-img-badass:active {
  background-image: url("https://media.giphy.com/media/v1.Y2lkPTc5MGI3NjExaHUzeHl1a2h6Ymp5aDFhenI1MHIwMHc5Z2U2a3Joa3k0Y3Jhc21nYiZlcD12MV9naWZzX3NlYXJjaCZjdD1n/eCQxmbH44TkuA/giphy.gif");
}

#gift-img-cheers:active {
  background-image: url("https://s1.aigei.com/src/img/gif/af/af23a4e94c0946d1a1674d57b9d8199b.gif?e=2051020800&token=P7S2Xpzfz11vAkASLTkfHN7Fw-oOZBecqeJaxypL:UHbF3t15h4-2t6VFEBKYkJsCHHM=");
}

#footer {
  font-style: italic;
  width: 400px;
  margin: 40px auto 20px;
}

a {
  color: white;
}
